:root {
    --heder-footer-color: #2F303A;
    --accent-color: #2196F3;
    --second-title:  #212121;
    --second-title-text:#757575;
    --background-color: #fff;
    --text-color: #fff;

}

  *,
  *::before,
  *::after{
      box-sizing: border-box;
  }
  p, h1 , h2 , h3 , h4 , h5, h6{
      margin: 0;
  }
  img{
      display: block;
      min-width: 100%;
      height: auto;
  }
.conteiner{
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
   
}

       
body {
    font-family: Roboto,sans-serif;
    color: var(--second-title);
    background-color:var(--background-color);
    font-size: 14px;
    letter-spacing: 0.03em;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.link {
    text-decoration: none;
}

.list{
    list-style-type: none;
    margin: 0;
}
ul{
    margin-left: 0;
    padding-left: 0%;
}
a{
    text-decoration: none;
}




.header  .conteiner{
    display: flex;
        align-items: center;
  
}


.header-logo{
    margin-right: 93px;
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--accent-color);
       
}
.header-studio{
    color: black;
}


.header-item:not(:last-child){
  margin-right: 50px;
}
.header-tel:not(:last-child){
margin-right: 50px
}
.header-link,
.header-tel {
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1, 14;
    letter-spacing: 0.02em;
    color: var(--heder-footer-color)
}
.header-tel{
    color: var(--second-title-text);
}
.header-link:hover,
.header-link:focus,
.header-tel:hover,
.header-tel:focus  {
    color: var(--accent-color);
}
.current{
    color: var(--accent-color);
}
.header-list{
    display: flex;
}

.conteiner-header-conact {
    margin-left:auto ;
    display: flex;
   
}

.hero .conteiner{
    padding: 200px 0;
}

.hero{
    background: #2F303A;
}

.hero-title{
    margin: 0 auto;
    margin-bottom: 30px;
    font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        text-align: center;
        color: var(--text-color);
        width:696px;
        
}

.hero-btn{ 
    margin: 0 auto;
    padding: 10px 32px ;
    border-radius: 4px;
    border: none;
    font-family: inherit;
    Font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing:0.06em;
        color: var(--text-color);
        background-color: #2196F3 ;
}
.hero-btn:hover , .hero-btn:focus{
    cursor:pointer;
    background-color: #188CE8;
}

.benefits {
    padding: 94px 0;
}

.benefits-list ,.about-list{
    display: flex;
}
.benefits-item:not(:last-child){
    margin-right: 30px;
    max-width: 270px;
}
.benefits-item{
min-width: 270px;
}
.pre-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-title);
}

.benefits-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-title-text);
}


.about-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-title);
}
.about-item:not(:last-child){
    margin-right: 30px;
}
.about-img {
    width: 370px;
   
}
.about-item {
    padding-bottom: 94px;
}

.team .conteiner{
    padding: 94px 0;
}
.team {
    background: #F5F4FA;
}
.team-list{
    display: flex;
    align-items: center;
}
.team-item{
    background-color: #fff;
    justify-content: center;
    border-radius: 0px 0px 4px 4px;
    overflow: hidden;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-item:not(last-child){
   margin-right: 30px;
}

.team-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-title);
}
.description{
    padding: 30px 0;
}
.team-name {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--second-title);
}

.team-position{
    text-align: center;
font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--second-title-text);
}


.footer {
    background-color: var(--heder-footer-color);
   
}
.footer {
    padding: 60px 0;
    
}
.footer-logo{
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--accent-color);
}
.footer-studio{
    color: var(--text-color);
}
.footer-adress {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
}
.footer-list{
margin-top: 20px;
}
.footer-item {
    margin-bottom: 9px;
}
.footer-link,.footer-link-address {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-link-address{
    color:var(--text-color);
}
.footer-link:hover,.footer-link:focus{
 color:  var(--accent-color);
} 

.footer-link-address:hover,.footer-link-address:focus{
    color: var(--accent-color);
}


.btn {
    padding: 6px 22px ;
       height: 38px;
font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
background-color: #F5F4FA;
    border-radius: 4px;
    border: none;
}

.btn:hover,
.btn:focus {
    cursor:pointer;
    color: var(--text-color);
    background-color: var(--accent-color);
}



.header-portfolio .conteiner{
    border: 1px solid #ECECEC;
    display:flex;
align-items: center;
}
.portfolio-tel{
    display: flex;
    margin-left: auto;
}
.portfolio .conteiner{
    padding: 94px 0;
}
.btn-list{
    justify-content: center;
    display: flex;
    padding-bottom: 50px;
}
.btn-item{
    margin-right: 8px;
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
        margin-bottom: -30px;
}
.portfolio-item{
    flex-basis: calc(100% / 3 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
   
}
.card{
padding: 20px 24px;
background: #FFFFFF;
    border: 1px solid #EEEEEE;
}



.portfolio-name {

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--second-title);
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88x;
    letter-spacing: 0.03em;
    color: var(--second-title-text);
}